p {
    text-align: center;
}
body{ 
    background: #BDB76B;
}
#titulo{
    text-align: center;
    font-size: 30px;
    color: rgb(63, 3, 43)
}
#missao{ style="font-size: 20px;
}


em b{
    color: white;
}
